@model Something.Models.People

@{
    ViewData["Title"] = "Edit";
}

<script>
    function randomData() {
    @{
        People rdmObj = new People();
        rdmObj.Name = Faker.Name.FullName(Faker.NameFormats.Standard);
        rdmObj.Company = Faker.Company.Name();
        rdmObj.Address = Faker.Address.StreetAddress();
        rdmObj.Telephone = Faker.Phone.Number();
    }

            document.getElementById("Name").value = "@rdmObj.Name";
        document.getElementById("Company").value = "@rdmObj.Company";
        document.getElementById("Address").value = "@rdmObj.Address";
        document.getElementById("Telephone").value = "@rdmObj.Telephone";
    }
</script>

<div class="container-fluid glass p-3">

    <div class="row">
        <div class="col">
            <h1>Edit</h1>
        </div>
        <div class="col text-end">
            <button type="button" onclick="randomData()" class="btn btn-secondary btn-rounded">Fill With Random Values</button>
        </div>
    </div>


    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Edit" class="glassForm p-4 m-2">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="input-group mb-3">
                    <span class="input-group-text bg-light">Name</span>
                    <input id="Name" asp-for="Name" type="text" class="form-control" />
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text bg-light">Company</span>
                    <input id="Company" asp-for="Company" type="text" class="form-control" />
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text bg-light">Address</span>
                    <input id="Address" asp-for="Address" type="text" class="form-control" />
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text bg-light">Telephone</span>
                    <input id="Telephone" asp-for="Telephone" type="text" class="form-control" />
                </div>

                <div class="row">
                    <div class="col text-end">
                        <a asp-action="Index" class="btn btn-secondary btn-rounded">Back to List</a>
                        <input type="submit" value="Save" class="btn btn-warning btn-rounded ms-5" />
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
